<nav class="pagination_pellere" role="navigation">
    <div>
        {{#if prev}}
            <a class="newer-posts_pellere" href="{{page_url prev}}">
                <i class="fa fa-angle-right"></i>
                <span>مطالب جدید</span>
            </a>
        {{/if}}
        {{#if next}}
            <a class="older-posts_pellere" href="{{page_url next}}">
                <span>مطالب قبلی</span>
                <i class="fa fa-angle-left"></i>
            </a>
        {{/if}}
    </div>
    <span class="page-number_pellere">صفحه {{page}} از {{pages}}</span>
</nav>